body{
    margin: 0;
    padding: 0;
}


.sightbar{
    background-color: #1E90FF;
    width: 200px;
    top: 50px;
    left: 0;
    height: 100%;
    position: fixed;
}
.sightbar ul li :hover{
    background-color:#696969;
}

